@import url(//fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato';
}

#main-container {
	margin: 0 auto;
    padding: 15px 40px;
	width: 100%;
	max-width: 1200px;
}

.api-buttons > a {
	margin: 0 5px 0 0 !important;
	text-decoration: none !important;
}

.price {
	font-size: 25px !important;
	line-height: 26px !important;
}
#clothing-designer {
	width: 100% !important;
	max-width: 1200px;
	background: white;
}
.fpd-topbar .fpd-navigation {overflow-x: scroll;}